/* Styling taken from
 * https://github.com/ChrisKempson/Tomorrow-Theme
 * https://github.com/chriskempson/base16
 */

/* @group Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #B7B7B7; 
	height: 100%;
	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #001f2a;
	font-family: system, -apple-system,
      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
      font-weight: 400;
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

.line {
	padding: 2px 5px 2px 5px;
	clear: both;
}

.sender {
	cursor: pointer;
	font-weight: 700;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* @end */

/* @group Misc */

#loading_screen {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #001f2a;
	border: 1px solid #268BD2;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
	text-align: center;
}

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* @end */

/* @group Time */

.time {
	color: #586E75; 
	white-space: nowrap;
	padding-right: 0.4em;
}

body[dir=rtl] .time {
	padding-left: 0.4em;
	display: inline-block;
}

/* @end */

/* Links */

a {
	color: #FFFFFF; 
	border-color: #FFFFFF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #268BD2; 
	border-color: #268BD2;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	color: #8E8E8E;
	position: fixed;
	padding: 2px 0.5em 3px;
	box-shadow: 0 1px 5px #777;
	border-bottom: 1px solid #404040;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
	background: -webkit-linear-gradient(top, #073642 0%, #001f2a 100%);
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a,
#topic_bar span.channel {
	color: #8E8E8E;
	border-color: #8E8E8E;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}
/* @end */
/* Hidden scrollback history bar */
#scrolling_history {
  z-index: 400;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  box-shadow: 0 1px 5px #777;
  border-top: 1px solid #404040;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
  color: #FFFFFF;
  background-color: #859900;
  display: none;
  overflow: hidden;
}

#scrolling_history .senderContainer {
  color: #FFFFFF;
  background-color: #859900;
}
/* @group Images */



.inlineImageCell {
	overflow: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 2px;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin-right: 15px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
}


*/
.inlineImageCell .closeButton {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #a1a1a1;
	color: #a1a1a1;
	display: inline-block;
	line-height: 14px;
	font-size: 15px;
	font-family: "Helvetica Neue" !important;
	text-indent: 7px;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 7px;
	padding-left: 0px;
}

html[systemversion^="10.9"] .inlineImageCell .closeButton,
html[systemversion^="10.8"] .inlineImageCell .closeButton {
	line-height: 13px;
}

/* @end */

/* @group Separating History */

div[id=mark] {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 3px solid;
	border-color: #D33682;
	-webkit-transition: 0.2s linear;
}

.historic {
	opacity: 0.6;
}

/* @end */

/* @group NOTICE / CTCP / WALLOPS */

.line[ltype*=ctcp],
.line[ltype*=notice],
.line[ltype*=wallops] {
	color: #b58900;
	z-index: 191;
	position: relative;
	
}

/* @end */

/* @group Selected User */

.line[ltype*=privmsg]:not(.selectedUser),
.line[ltype*=action]:not(.selectedUser) {
	transition: background-color 0.5s;

}

.line.selectedUser[highlight=false] {
	transition: background-color 0.5s;
	z-index: 190;
	position: relative;
	background-color: #B58900 !important; /* Solarized: "Operator" */
}

/* @end */

/* @group PRIVMSG */

.line[ltype*=privmsg][highlight=true],
.line[ltype*=action][highlight=true] {
	z-index: 191;
	position: relative;
	font-weight: normal;
	background-color: #38010A !important;
	color: #E0E2E4;

}

div[ltype*=privmsg] .sender {
	white-space: pre-wrap;
}

/* @end */

/* @group ACTION */

div[ltype*=action] .sender:before {
	content: "•";
}

body[dir=ltr] div[ltype*=action] .sender:before {
	margin-right: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:before {
	margin-left: 0.4em;
}

div[ltype*=action] .sender:after {
	content: "";
	color: #E0E2E4;
}

/* @end */

/* @group DEBUG / INVITE */

.line[ltype*=invite],
.line[ltype*=debug],
.line[ltype*=rawhtml],
.line[ltype*=mode],
.line[ltype*=dccfiletransfer] {
	color: #586E75;
	z-index: 190;
	position: relative;
}

/* @end */

/* @group Message of the Day (MOTD)
 *
 * 720, 721, 722 are used by ShadowIRCd for Oper MOTD.
 * 372, 375, 376 are normal MOTD shared by several IRCds.
 */

.line[command="372"],
.line[command="721"] {
	padding-top: 3px;
	padding-bottom: 3px;
}

.line[command="375"],
.line[command="720"] { /* Start. */
	padding-top: 2px;
	padding-bottom: 3px;
}

.line[command="376"],
.line[command="722"] { /* End. */
	padding-top: 3px;
	padding-bottom: 3px;
}

.line[command="372"] .message,
.line[command="375"] .message,
.line[command="376"] .message,
.line[command="720"] .message,
.line[command="721"] .message,
.line[command="722"] .message {
	color: #586E75;
	font-family: "EspressoMono-Regular", "Menlo" !important;
	z-index: 190;
	position: relative;
}

.line[command="311"] .message,
.line[command="378"] .message,
.line[command="319"] .message,
.line[command="312"] .message,
.line[command="379"] .message,
.line[command="330"] .message,
.line[command="307"] .message,
.line[command="317"] .message,
.line[command="275"] .message,
.line[command="671"] .message {
	color: #2aa198;
	z-index: 190;
	position: relative;
}

/* @end */

/* @group General Events */

.line[ltype*=join],
.line[ltype*=part],
.line[ltype*=quit],
.line[ltype*=nick],
.line[ltype*=mode],
.line[ltype*=topic],
.line[ltype*=website] {
	color: #586E75;
	z-index: 190;
	position: relative;
}

/* Slightly more interesting events */
.line[ltype*=kick],
.line[ltype*=kill],
.line[ltype*=mode][command=mode] {
	color: #dc322f;
	z-index: 190;
	position: relative;
}

/* @group Event Indicators */

div[ltype*=join] .message:before {
	content: "→";
	color: #859900; 
	z-index: 190;
	position: relative;
}

div[ltype*=kick] .message:before,
div[ltype*=part] .message:before,
div[ltype*=quit] .message:before {
	content: "←";
	color: #dc322f;
	z-index: 190;
	position: relative;
}

div[ltype*=nick] .message:before {
	content:"◦";
	color: #CB4B16; 
	z-index: 190;
	position: relative;
}

/* @group Own Messages */

.sender[mtype*=myself] {
	color: #7AA6DA; 
}

div[mtype*=myself] {
	background-color: rgba(66, 113, 174, 0.25); 
}

/* @end */

body .inline_nickname {
	font-weight: 700;
}

body div[ltype*=privmsg] .sender[mtype*=myself] {
	color: #7AA6DA; 

}

body div[ltype*=privmsg] > p {
	display: flex;
}


body div[ltype*=privmsg] .message {
	display: flex;
	flex: 1;
}

.senderContainer {
    padding-right: 10px;
}

.innerMessage {
    flex: 1;
}

body div[ltype*=notice] p {
	display: flex;
}


body div[ltype*=notice] .message {
	display: flex;
	flex: 1;
}

.senderContainer {
    padding-right: 10px;
}

.innerMessage {
    flex: 1;
}

body div[ltype*=action] p {
	display: flex;
}


body div[ltype*=action] .message {
	display: flex;
	flex: 1;
}

.senderContainer {
    padding-right: 10px;
}

.innerMessage {
    flex: 1;
}

body div#body_home p {
	margin-left: 0 !important;
	text-indent: 0 !important;
}


/* Begin Nick Coloring Block */
.sender[nickname='kerio'] { color: pink !important; }
.inline_nickname[nickname='kerio'] {color: pink !important;}
.sender[nickname^='Dusty'] { color: #073642 !important; }
.inline_nickname[nickname^='Dusty'] {color: #073642 !important;}
.sender[nickname^='THE_GFR'] { color: #073642 !important; }
.inline_nickname[nickname^='THE_GFR'] {color: #073642 !important;}
.sender[nickname='_dave'] { color: #01DFD7 !important; }
.inline_nickname[nickname='_dave'] {color: #01DFD7 !important;}
.sender[nickname^='NDP'] { color: #586E75 !important; }
.inline_nickname[nickname^='NDP'] {color: #586E75 !important;}
.sender[nickname^='RdJss'] { color: #B40404 !important; }
.inline_nickname[nickname^='RdJss'] {color: #B40404 !important;}
.sender[nickname^='rdjss'] { color: #B40404 !important; }
.inline_nickname[nickname^='rdjss'] {color: #B40404 !important;}
.sender[nickname^='redjess'] { color: #B40404 !important; }
.inline_nickname[nickname^='redjess'] {color: #B40404 !important;}
.sender[nickname='Nelluk'] { color: #FF8000 !important; }
.inline_nickname[nickname='Nelluk'] {color: #FF8000 !important;}

}
/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
}

body div[ltype*=privmsg] .sender[mtype*=myself] { 
	color: #839496; 
}

body .sender[mtype*=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] { 
	color: #b58900; 
}

body .sender[mtype*=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] { 
	color: #cb4b16; 
}

body .sender[mtype*=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] { 
	color: #dc322f; 
}

body .sender[mtype*=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] { 
	color: #d33682; 
}

body .sender[mtype*=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] { 
	color: #6c71c4; 
}

body .sender[mtype*=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] { 
	color: #268bd2; 
}

body .sender[mtype*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] { 
	color: #2aa198; 
}

body .sender[mtype*=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] { 
	color: #859900; 
}

body .sender[mtype*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] { 
	color: #b58900; 
}

body .sender[mtype*=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] { 
	color: #93a1a1; 
}

body .sender[mtype*=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] { 
	color: #cb4b16; 
}

body .sender[mtype*=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] { 
	color: #dc322f; 
}

body .sender[mtype*=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] { 
	color: #d33682; 
}

body .sender[mtype*=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] { 
	color: #6c71c4; 
}

body .sender[mtype*=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] { 
	color: #268bd2; 
}

body .sender[mtype*=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] { 
	color: #2aa198;
}

body .sender[mtype*=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #859900;
}

body .sender[mtype*=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #93a1a1;
}

body .sender[mtype*=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #839496;
}

body .sender[mtype*=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #93a1a1;
}

body .sender[mtype*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #b58900;
}

body .sender[mtype*=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #cb4b16;
}

body .sender[mtype*=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #dc322f;
}

body .sender[mtype*=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #d33682;
}

body .sender[mtype*=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #6c71c4;
}

body .sender[mtype*=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #268bd2;
}

body .sender[mtype*=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #2aa198;
}

body .sender[mtype*=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #859900;
}

body .sender[mtype*=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #839496;
}

body .sender[mtype*=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #93a1a1;
}

body .sender[mtype*=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #b58900;
}